# Data Analysis - Bike Stats

## Author :Du'a Jaradat

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_station = pd.read_csv('station.csv')
df_station.head()

,station_id,name,lat,long,install_date,install_dockcount,modification_date,current_dockcount,decommission_date
0,BT-01,3rd Ave & Broad St,47.618418,-122.350964,10/13/2014,18,NaN,18,NaN
1,BT-03,2nd Ave & Vine St,47.615829,-122.348564,10/13/2014,16,NaN,16,NaN
2,BT-04,6th Ave & Blanchard St,47.616094,-122.341102,10/13/2014,16,NaN,16,NaN
3,BT-05,2nd Ave & Blanchard St,47.613110,-122.344208,10/13/2014,14,NaN,14,NaN
4,CBD-03,7th Ave & Union St,47.610731,-122.332447,10/13/2014,20,NaN,20,NaN

In [3]:
df_trip = pd.read_csv('trip_copy.csv')
df_trip.head()

ParserError: Error tokenizing data. C error: Expected 12 fields in line 50794, saw 20

In [ ]:
df_weather = pd.read_csv('weather.csv')
df_weather.head()

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_Sea_Level_Pressure_In,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events
0,10/13/2014,71,62.0,54,55,51,46,87,68,46,...,29.79,29.65,10,10,4,13,4,21,0.00,Rain
1,10/14/2014,63,59.0,55,52,51,50,88,78,63,...,29.75,29.54,10,9,3,10,5,17,0.11,Rain
2,10/15/2014,62,58.0,54,53,50,46,87,77,67,...,29.71,29.51,10,9,3,18,7,25,0.45,Rain
3,10/16/2014,71,61.0,52,49,46,42,83,61,36,...,29.95,29.81,10,10,10,9,4,-,0.00,Rain
4,10/17/2014,64,60.0,57,55,51,41,87,72,46,...,29.78,29.73,10,10,6,8,3,-,0.14,Rain

### 1- What is the average trip duration for a borrowed bicycle?

In [ ]:
avg_trip_duration=df_trip['tripduration'].mean()
avg_trip_duration

1178.2956753399776

### 2-What’s the most common age of a bicycle-sharer?

In [ ]:
most_common_age=2021-df_trip["birthyear"].value_counts().index[0]
most_common_age

34.0

### 3-Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [ ]:
df_weather['Month']=pd.DatetimeIndex(df_weather['Date']).month
month=df_weather.groupby('Month')['Precipitation_In']
mean_month=month.mean()
mean_month

Month
1     0.143548
2     0.168421
3     0.156935
4     0.051333
5     0.012419
6     0.030500
7     0.012097
8     0.018226
9     0.041000
10    0.189000
11    0.187833
12    0.236290
Name: Precipitation_In, dtype: float64

### 4-What’s the average number of bikes at a given bike station?

In [ ]:
df_bike=df_station[['station_id','current_dockcount']]
avg=df_bike['current_dockcount'].mean()
avg

16.517241379310345

### 5-When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

In [ ]:
modified_stations=df_station[df_station['modification_date'].notnull()][['station_id','current_dockcount','modification_date','install_dockcount']]
install_count=modified_stations['install_dockcount'].sum()
current_count=modified_stations['current_dockcount'].sum()
if current_count < install_count:
    print('Lose Bikes')
else:  
    print('Gain Bikes')

Lose Bikes

### 6-What is the maximum number of bikes in all stations?

In [ ]:
df_station['current_dockcount'].max()

26

### 7-What is the maximum trip duaration ?

In [ ]:
df_trip['tripduration'].max()

28794.398

### 8-Give the total number of bikes in all stations?

In [ ]:
df_station['current_dockcount'].sum()

958

## Tests

In [ ]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(most_common_age,34)
    assert_equal(avg,16.517241379310345 )
    assert_equal(avg_trip_duration,1178.2956753399776 )
  

    print("Success!!!")

test()

Success!!!