# Data Analysis - Video Game Stats

## Author : Du'a Jaradat

In [3]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('vgsales.csv')

In [9]:
df.head(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31

### 1- Which company is the most common video game publisher?

In [14]:
most_common_vg_publisher=df['Publisher'].mode()
most_common_vg_publisher

0    Electronic Arts
dtype: object

### 2-Whatâ€™s the most common platform?

In [16]:
most_common_platform=df['Platform'].value_counts().idxmax()
most_common_platform

'DS'

### 3-What about the most common genre?

In [21]:
most_common_genre=df['Genre'].value_counts().idxmax()
most_common_genre

'Action'

### 4-What are the top 20 highest grossing games?

In [37]:
top_20_highest_gg=df[['Name','Global_Sales']].sort_values(by=['Global_Sales'],ascending=False).head(20)
top_20_highest_gg

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

### 5-For North American video game sales, whatâ€™s the median?

In [54]:
na_median_sales=df['NA_Sales'].median()
na_median_sales

0.08

- Provide a secondary output showing ten games surrounding the median sales output

        - assume that games with same median value are sorted in descending order

In [98]:
games_with_median_values=df[['Name','NA_Sales']].loc[df['NA_Sales']==na_median_sales]

loc_median=len(games_with_median_values)//2
surrounding_median=games_with_median_values[loc_median-5:loc_median+5]
surrounding_median['Name']

9931               Spider-Man: Edge of Time
9934                       Turok: Evolution
9957                               Deadpool
9996             GT Advance 2: Rally Racing
10000                        A Witch's Tale
10012                     Nickelodeon Dance
10020              Phantasy Star Collection
10022                 LEGO Knights' Kingdom
10024    Family Game Night 4: The Game Show
10026                          NBA Jam 2002
Name: Name, dtype: object

### 6-For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [78]:
standard_deviation=df['NA_Sales'].std()
avg_sales=df['Global_Sales'].mean()

### 7-The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [89]:
wii=df[df['Platform']=='Wii'] 
wii_avg=wii["Global_Sales"].mean()
other_platform=df[df['Platform']!='Wii'] 
other_platform_avg=other_platform['Global_Sales'].mean()
print(f'Wii avg sales : {wii_avg} , Other Platform avg sales : {other_platform_avg}')

Wii avg sales : 0.6994037735849057 , Other Platform avg sales : 0.5233896418516336

### 8- What is the total Na_Sales for DS platform ?

In [95]:
na_sales_DS=df[['Platform','NA_Sales']][df['Platform']=='DS']
total_na_sales_DS=na_sales_DS['NA_Sales'].sum()
print(f'Total NA_Sales for DS : {total_na_sales_DS}')

Total NA_Sales for DS : 390.71

### 9- What was Nintendo grossing year ?

In [110]:
sales=df[['Year','Publisher','Global_Sales']].sort_values(by='Global_Sales',ascending=False)
nintendo_gross_year=sales['Year'].head(1)
print(f'Nintendo grossing year : {nintendo_gross_year}')

Nintendo grossing year : 0    2006.0
Name: Year, dtype: float64

### 10-What was the Super Mario Bros. total sales in North America?

In [120]:
super_mario_game=df[df['Name']=='Super Mario Bros.']
total_sales_na=super_mario_game['NA_Sales'].sum()
print(f'Total Sales for Super Mario Bros. : {total_sales_na}')

Total Sales for Super Mario Bros. : 32.48